// Config screen styles

// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $tertiary-color: #f39c12;
// $danger-color: #e74c3c;

.hazime-gemini-plugin-toggle-button {
  --kuc-button-height: 40px;
}

.hazime-gemini-plugin-text-l {
  --kuc-text-input-width: 700px;
}

.hazime-gemini-plugin-text-m {
  --kuc-text-input-width: 250px;
}

.hazime-gemini-plugin-textarea-l {
  --kuc-textarea-input-width: 700px;
  --kuc-textarea-input-height: 250px;
}
